@import './../fonts/gilroy/stylesheet.css';
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --text-color: #1e1e1e;
  --text-muted: #8d8d8d;
  --text-card-dark-blue: #0d1b39;
  --accent: #E58411;
  --footer-bg: #2D2F33;
  --footer-text-color: #fff;
  --header-text-color: #fff;
  --ui-orange: #E58411;
  --ui-biruza: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-dark-blue: #0d1b39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM Sans", sans-serif;
}

html, body {
  font-family: var(--font-main);
  color: var(--text-color);
}

body {
  padding-bottom: 50vh;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.header {
  position: relative;
  padding-top: 40px;
  background-color: var(--footer-bg);
  background-image: url("./../../img/header/header-bg.jpg");
  background-size: cover;
  aspect-ratio: 1440/1084;
  color: var(--header-text-color);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: url("./../../img/header/header-bg@2x.jpg");
  }
}
.header a {
  color: var(--header-text-color);
  text-decoration: none;
}

.header__nav {
  margin-bottom: 86px;
}

.header__content {
  text-align: center;
}

.header__title {
  text-align: center;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 80px;
  line-height: 130%; /* 104px */
  letter-spacing: -0.8px;
  text-transform: capitalize;
}

.header__content p {
  margin: 0 auto;
  max-width: 606px;
  font-size: 24px;
  line-height: 160%; /* 38.4px */
  margin-bottom: 45px;
  opacity: 0.8;
}

.header__search {
  margin: 0 auto;
}

/* Dots */
.header__dot-sofa {
  position: absolute;
  left: 20.5555555556%;
  top: 63.1918819188%;
  transform: translate(0%, 0%);
}

.header__dot-vase {
  position: absolute;
  left: 8.085106383%;
  top: 70.1395348837%;
  transform: translate(-50%, -50%);
}

.header__dot-item {
  position: absolute;
  left: 56.25%;
  top: 72.6014760148%;
  transform: translate(-50%, -50%);
}

.header__dot-wall {
  position: absolute;
  right: 1.7361111111%;
  top: 75.7380073801%;
  transform: translate(-50%, -50%);
}

.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
}

.nav__logo {
  align-self: center;
  letter-spacing: 0.28px;
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
}

.nav-list {
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  font-weight: 500;
  font-size: 18px;
}

.cart {
  position: relative;
  align-self: center;
  justify-self: end;
}

.cart__count {
  position: absolute;
  display: inline-block;
  top: 3px;
  right: -6px;
  height: 25px;
  padding: 0 6px;
  background-color: var(--accent);
  border-radius: 40px;
  font-weight: 700;
  line-height: 25px;
  font-family: var(--font-cards);
}

.search-form {
  display: flex;
  max-width: 344px;
  height: 56px;
  padding: 8px 8px 8px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.search-form__input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
.search-form__input::-moz-placeholder {
  color: #FFF;
  font-weight: 400;
  opacity: 0.8;
}
.search-form__input::placeholder {
  color: #FFF;
  font-weight: 400;
  opacity: 0.8;
}

.search-form__btn {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--accent);
}

.search-form__btn img {
  margin: auto;
}

.info-dot {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
}

.info-dot__circle {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.info-dot__radius {
  width: 32px;
  height: 32px;
  border: 0.86px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  animation: pulse 1s infinite alternate;
}

.info-dot:hover .info-dot__radius {
  animation: pulse 1s infinite alternate paused;
}

.info-dot:hover .info-dot__circle {
  background-color: var(--accent);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.info-hint {
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 12px;
  width: 112px;
  height: 56px;
  background-image: url("./../img/icons/hint.svg");
}

.info-hint__radio {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.info-hint__radio:checked + .info-hint__radio-fake {
  background-image: url("./../img/icons/check-no-shadow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.info-hint__radio-fake {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: gray;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.info-hint__radio-fake--orange {
  background-color: var(--ui-orange);
}
.info-hint__radio-fake--biruza {
  background-color: var(--ui-biruza);
}
.info-hint__radio-fake--gray {
  background-color: var(--ui-gray);
}

.benefits {
  padding: 120px 0;
}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.benefits__title {
  font-weight: 700;
  font-size: 42px;
  max-width: 260px;
}

.benefit__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

.benefit__text {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 1.85; /* 29.6px */
  opacity: 0.8;
}

.products {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.products__title {
  margin-bottom: 32px;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.products__tabs {
  margin-bottom: 80px;
  text-align: center;
}

.products__slider {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.products__link {
  text-align: center;
}

.read-more {
  display: inline-flex;
  gap: 13px;
  align-items: center;
  text-decoration: none;
  color: var(--accent);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85; /* 25.9px */
}
.read-more::after {
  content: url("./../img/icons/arrow-right.svg");
  height: 24px;
}
.read-more--large {
  font-size: 18px;
}

.tab-controls {
  display: inline-flex;
  padding: 6px;
  align-items: center;
  border-radius: 44px;
  background-color: #eee;
}

.tab-controls__btn {
  border: none;
  width: 84px;
  height: 45px;
  padding: 7px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  color: rgba(31, 31, 31, 0.8);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.85;
  transition: background-color 0.2s ease-in;
}
.tab-controls__btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tab-controls__btn--active {
  background-color: #FFF;
}

.card {
  width: 268px;
  font-family: var(--font-cards);
}

.card__photo {
  height: 240px;
  background-color: bisque;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.card__img {
  display: inline-block;
  margin-top: -50px;
}

.card__desc {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 202px;
  padding: 14px 22px 28px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.card_category {
  text-decoration: none;
  color: var(--text-muted);
  font-size: 16px;
}

.card__title {
  color: var(--text-card-dark-blue);
  font-size: 21px;
  font-weight: 600;
  text-transform: capitalize;
}

.card__rating {
  display: flex;
  gap: 3px;
}

.card__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  display: flex;
  align-items: flex-start;
  gap: 3px;
  color: var(--text-card-dark-blue);
  font-size: 21px;
  font-weight: 600;
}
.card__price::before {
  content: attr(data-value);
  font-size: 15px;
}

.card__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--ui-dark-blue);
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
  border: none;
  transition: opacity 0.2s ease-in;
}
.card__btn:hover {
  opacity: 0.8;
}/*# sourceMappingURL=main.css.map */