.benefits {
    padding: 120px 0;
}


.benefits__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.benefits__title {
    font-weight: 700;
    font-size: 42px;
    max-width: 260px;
}