.mobile-nav-wrapper {
    display: none;
    position: absolute;
    z-index: 9;
    right: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    padding: 30px 20px;
    color: var(--footer-text-color);
    background-color: var(--footer-bg);
    a {
        color: var(--footer-text-color);
    }
    &--open {
        display: block;
    }
}

.mobile-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    gap: 20px;
}

.mobile-cart {
    flex-grow: 1;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    gap: 20px;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    padding-right: 20px;
}

ul.mobile-nav {
    display: grid;
    gap: 20px;
    font-size: 22px;
}


.mobile-nav__link {
    transition: opacity 0.1s ease-in;
    &:hover {
        opacity: 0.7;
    }
}

ul.mobile-sub-nav {
    padding: 20px 0 0 20px;
    display: grid;
    gap: 14px;
    font-size: 16px;
}


.mobile-sub-nav__link {
    transition: color 0.1s ease-in;
    &:hover {
        color: var(--accent);
    }
}
