.products {
    padding: 50px 0;
    background-color: #f7f7f7;
}

.products__title {
    margin-bottom: 32px;
    text-align: center; 
    font-size: 42px;
    font-weight: 700;
}

.products__tabs {
    margin-bottom: 80px;
    text-align: center;
}

.products__slider {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.products__link {
    text-align: center;
}