.search-form {
    display: flex;
    max-width: 344px;
    height: 56px;
    padding: 8px 8px 8px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 42px;
    border: 0.862px solid rgba(255, 255, 255, 0.60);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
}

.search-form__input {
    background-color: transparent;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; /* 27px */

    &::placeholder {
        color: #FFF;
        font-weight: 400;
        opacity: 0.8;
    }
}

.search-form__btn {
    width: 40px;
    height: 40px;
    border-radius: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--accent);
}

.search-form__btn img {
   margin: auto;
}