    ul.sub-nav {
        background-color: var(--footer-bg);
        display: grid;
        gap: 16px;
        border-radius: 16px;
        padding: 20px;
        color: var(--footer-text-color);
    
        a {
            color: var(--footer-text-color);
            transition: color 0.1s ease-in;

            &:hover {
                color: var(--accent);
            }
        }
    }
    