.card {
    width: 268px;
    font-family: var(--font-cards);
}

.card__photo {
    height: 240px;
    // background-color: #fafafa;
    background-color: bisque;
    border-radius: 20px 20px 0 0;
    text-align: center;
}

.card__img {
    display: inline-block;
    margin-top: -50px;
}

.card__desc {
    display: flex;
    flex-direction: column;
    gap: 6px; 
    height: 202px;
    padding: 14px 22px 28px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
}

.card_category {
    text-decoration: none;
    color: var(--text-muted);
    font-size: 16px;
}

.card__title {
    color: var(--text-card-dark-blue);
    font-size: 21px;
    font-weight: 600;
    text-transform: capitalize;
}

.card__rating {
    display: flex;
    gap: 3px;
}

.card__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__price {
    display: flex;
    align-items: flex-start;
    gap: 3px;
    color: var(--text-card-dark-blue);
    font-size: 21px;
    font-weight: 600;

    &::before {
        content: attr(data-value);
        font-size: 15px;
    }
}

.card__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: var(--ui-dark-blue);
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
    border: none;
    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 0.8;
    }
}
